<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title | escape }} - {{ page.title | escape }}</title>
    <link rel="icon" href={{ site.favicon }}>
</head>
<style>
    body {
      margin: 0;
      padding: 1rem;
    }
    article {
      margin-left: auto;
      margin-right: auto;
      max-width: 30rem;
    }

    code {
    }
    .language-clojure .no {
      color: purple;
    }
    .language-clojure .s {
      color: green;
    }
    .language-clojure .mi {
      color: blue;
    }
    .language-json .nl {
      color: purple;
    }
    .language-json .s2 {
      color: green;
    }
    .language-json .mi {
      color: blue;
    }
</style>
<body>
<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <p>
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: '#inst"%Y-%m-%d"' }}
            </time>
        </p>
    </header>
    <main itemprop="articleBody">
        {{ content }}
    </main>
</article>
</body>
</html>

